.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--bg);
  z-index: 1; 
}

.main-content {
  width: 100%;
  height: calc(100% - var(--navbarHeight));
}

.mobile-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1900;
  display: none;
}


@media (max-width: 700px) {
  .mobile-sidebar-overlay {
    display: block;
  }
}