.routes-container {
  width: 100%;
  height: calc(100vh - var(--navbarHeight));
  overflow-y: auto;
  padding: 10px 15px;
}


@media (max-width: 600px) {
  .routes-container {
    padding: 10px 5px;
  }
}