.aitool-page {
  display: flex;
  flex-direction: column;
}
.aitool-page.loading {
  height: calc(100vh - var(--navbarHeight));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aitool-page .tool-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid var(--tableBorder);
  box-shadow: var(--newCardShadow);
  margin-bottom: 30px;
}
.aitool-page .tool-container .tool-header {
  width: 100%;
  height: 300px;
  background-size: cover;
}
.aitool-page .tool-container .tool-header img {
  width: 100%;
  height: 100%;
}
.aitool-page .tool-container .tool-content {
  padding: 30px 20px;
  background: #fff;
}
.aitool-page .tool-container .tool-content .row {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.aitool-page .tool-container .tool-content .row.header {
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
}
.aitool-page .tool-container .tool-content .row.header .left-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.aitool-page .tool-container .tool-content .row.header .left-row img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.aitool-page .tool-container .tool-content .row.header .left-row .texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  max-width: 500px;
}
.aitool-page .tool-container .tool-content .row.header .left-row .texts button {
  margin-top: 17px;
}
.aitool-page .tool-container .tool-content .row.header .right-row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.aitool-page .tool-container .tool-content .row.header .right-row .url-link {
  padding: 10px;
  border-radius: 5px;
  background: var(--extraLightPrimary);
  color: var(--primary);
  border: 1px solid transparent;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s;
}
.aitool-page .tool-container .tool-content .row.header .right-row .url-link:hover {
  border: 1px solid var(--primary);
}
.aitool-page .tool-container .tool-content .row.header .right-row .url-link i {
  margin-right: 10px;
}
.aitool-page .tool-container .tool-content .row.header .right-row .btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.aitool-page .tool-container .tool-content .row.header .right-row .share-text {
  display: flex;
  align-items: center;
  gap: 3px;
}
.aitool-page .tool-container .tool-content .row.header .right-row .share-text h6 {
  font-size: 14px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.aitool-page .tool-container .tool-content .row.header .right-row .icon-container:hover {
  background: var(--extraLightPrimary);
}

.aitool-page .tool-container .tool-content .row-header h1 {
  color: var(--ternary);
}
.aitool-page .tool-container .tool-content .row.header .texts h5 {
  font-size: 17px;
  color: var(--grayText);
  font-weight: 500;
}

.aitool-page .tool-container .section {
  border-bottom: 1px solid var(--inputBorder);
  padding: 30px 0;
}
.aitool-page .tool-container h4.section-title {
  font-size: 22px;
  color: var(--ternary);
  margin-bottom: 20px;
}

.aitool-page .tool-container .stats-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px 20px;
  margin-top: 40px;
  border-top: 1px solid var(--inputBorder);
}
.aitool-page .tool-container .stats-section .stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.aitool-page .tool-container .stats-section .stats-item h6 {
  font-size: 14px;
  color: var(--grayText);
  font-weight: 500;
}
.aitool-page .tool-container .stats-section .stats-item big  {
  font-size: 40px;
  color: var(--darkGrayText);
}
.aitool-page .tool-container .stats-section .stats-item big i {
  color: var(--primary);
  font-size: 28px;
} 
.aitool-page .tool-container .stats-section .stats-item small {
  font-weight: 600;
  color: var(--darkGrayText);
}
.aitool-page .tool-container .stats-section .stats-item p {
  text-align: center;
}

.aitool-page .tool-container .preview-section .scroll-slider-container img {
  height: 300px;
  border: 1px solid var(--grayBg);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.aitool-page .tool-container .preview-section .scroll-slider-container img:hover {
  filter: brightness(0.9);
}
.aitool-page .tool-container .scroll-slider-container .fader {
  background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, #fff 50%, #fff 100% );
}

.aitool-page .tool-container .description-section p {
  color: var(--grayText);
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  width: 600px;
  max-width: 100%;
}

.aitool-page .tool-container .information-section {
  display: flex;
  flex-direction: column;
}
.aitool-page .tool-container .information-section .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 20px;
  margin-bottom: 40px;
}
.aitool-page .tool-container .information-section .row-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aitool-page .tool-container .information-section .row-item h6 {
  font-size: 14px;
  color: var(--grayText);
  font-weight: 600;
}
.aitool-page .tool-container .information-section .row-item h6 i {
  margin-right: 7px;
}
.aitool-page .tool-container .information-section .row-item p {
  font-size: 15px;
  font-weight: 600;
  color: var(--darkGrayText);
}
.aitool-page .tool-container .information-section .row-item p.tags a {
  font-size: 15px;
  color: var(--primary);
}
.aitool-page .tool-container .information-section .row-item p.tags a:hover {
  text-decoration: underline;
}

.aitool-page .tool-container .similar-section {
  border-bottom: none;
}

.aitool-page .features-section ul {
  list-style-type: none;
  padding-left: 20px;
  line-height: 1.8;
}
.aitool-page .features-section ul li::before {
  content: "-";
  margin-right: 5px;
}

.aitool-page .ratings-modal {
  position: fixed;
  bottom: -500px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--inputBorder);
  padding: 20px;
  background: var(--primary);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.aitool-page .ratings-modal.show {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}
.aitool-page .ratings-modal .fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}
.aitool-page .ratings-modal .big-star {
  margin-top: -70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.aitool-page .ratings-modal .big-star i {
  font-size: 100px;
  color: var(--extraLightPrimary);
}

.aitool-page .ratings-modal .big-star big {
  position: absolute;
  font-weight: 500;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  color: var(--primary);
}
.aitool-page .ratings-modal h4 {
  font-size: 20px;
  color: #fff;
}
.aitool-page .ratings-modal .star-rate {
  margin: 30px 0;
  display: flex;
  align-items: center;
}
.aitool-page .ratings-modal .star-rate i {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  padding: 2px 3px;
}
.aitool-page .ratings-modal .appButton {
  margin-bottom: 10px;
  padding: 10px 25px;
  font-size: 15px;
}

.aitool-page .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.tool-preview-page {
  padding: 0 20px;
}
.tool-preview-page .title-bar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
}
.tool-preview-page .title-bar .side {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tool-preview-page .title-bar .side.right-side {
  gap: 10px;
}
.tool-preview-page h3 {
  color: var(--ternary);
  font-size: 20px; 
}



@media (max-width: 700px) {
  .aitool-page .tool-container .tool-content .row.header {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .aitool-page .tool-container .tool-content .row.header .left-row {
    flex-direction: column;
    align-items: center;
  }
  .aitool-page .tool-container .tool-content .row.header .left-row .texts {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .aitool-page .tool-container h4.section-title {
    text-align: center;
  }
  .aitool-page .tool-container .description-section p {
    text-align: center;
  }
  .aitool-page .tool-container .information-section .row {
    display: flex;
    flex-direction: column;
  }
}