.employee-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border: 1px solid var(--inputBorder);
}

.employee-frame .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--inputBorder);
}
.employee-frame .header .left-side {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.employee-frame .header .left-side .title-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.employee-frame .header .left-side .title-row h6 {
  text-transform: capitalize;
}
.employee-frame .header h4 {
  font-size: 20px;
  color: var(--darkGrayText);
}
.employee-frame .header h5 {
  font-size: 14px;
  color: var(--darkGrayText);
}
.employee-frame .header .right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}
.employee-frame .header .right-side .app-badge {
  margin-left: 15px;
}
.employee-frame .header .right-side .appButton {
  height: 35px;
  width: 35px;
  border: 1px solid var(--inputBorder);
  padding: 0px;
  background: #fff;
}
.employee-frame .header .right-side .appButton:hover {
  background: var(--inputBg);
}
.employee-frame .header .right-side .appButton i {
  font-size: 14px;
  color: var(--grayText);
}

.employee-frame .info-container {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  border-bottom: 1px solid var(--inputBorder);
}
.employee-frame .info-container img {
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.employee-frame .info-container .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.employee-frame .info-container .column .item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.employee-frame .info-container .column .item h6 {
  text-transform: uppercase;
  color: var(--grayText);
  font-size: 10px;
}
.employee-frame .info-container .column .item h5 {
  color: var(--darkGrayText);
  font-size: 14px;
}

.employee-frame .data-container {
  padding: 20px;
}