.homepage {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-bottom: 30px;
}

.homepage .hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 700px;
  max-width: 100%;
  margin: 100px auto;
}
.homepage .hero-section h1 {
  color: var(--darkGrayText);
  font-size: 50px;
}
.homepage .hero-section h1 br {
  display: none
}
.homepage .hero-section h5 {
  color: var(--grayText);
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.homepage .hero-section .app-searchbar {
  margin-top: 50px;
}

.typewrite {
  animation: typewrite 1s steps(40) infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--primary);
}
.typewrite.done {
  border-color: transparent;
}
@keyframes typewrite {
  from { width: 0; }
  to { width: 100%; }
}

.homepage .tabs-section {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 15px;
}
.homepage .tabs-section .submit-text {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 40px;
}
.homepage .tabs-section .submit-text:hover {
  background: var(--primary);
  color: #fff;
}
.homepage .tabs-section .submit-text:hover .app-badge {
  background: #fff;
}
.homepage .tabs-section .submit-text:hover .app-badge h6 {
  color: var(--primary);
}
.homepage .tabs-section .submit-text .app-badge {
  display: inline-flex;
  margin-left: 5px;
  background: var(--primary);
}
.homepage .tabs-section .submit-text .app-badge h6 {
  color: #fff;
}
.homepage .tab-switcher .tab-item.active h6 {
  color: #fff;
}
.homepage .tab-switcher .tab-item:hover {
  background: var(--primary);
}
.homepage .tab-switcher .tab-item:hover h6 {
  color: #fff;
}
.homepage .tab-switcher .tab-indicator {
  background: var(--primary);
}

.homepage .home-grid {
  margin-top: 20px;
}
.homepage .home-grid button {
  margin-top: 40px;
}
.homepage .home-grid small.end-of-list {
  margin-top: 50px;
  display: block;
  font-size: 14px;
  color: var(--ternary);
  font-weight: 600;
}
.homepage .home-grid .end-div {
  width: 100px;
  height: 20px;
}


@media (max-width: 750px) {
  .homepage .hero-section {
    margin: 50px auto;
  }
  .homepage .hero-section h1 br {
    display: block
  }
  .homepage .tabs-section {
    flex-direction: column;
  }
}