.posts-page {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  max-width: var(--maxPageWidth);
}
.posts-page .posts-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 550px;
}
.posts-page .posts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posts-page .posts-column .tab-section {
  display: none;
  flex-direction: column;
  gap: 10px;
}
.posts-page .posts-column .tab-section.active {
  display: flex;
}