.search-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.search-page .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.search-page h1 {
  font-size: 50px;
}
.search-page .search-info {
  margin-bottom: 40px;
  width: 100%;
}
.search-page .search-container {
  background: var(--bg);
  padding: 10px 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: -20px;
  z-index: 10;
}
.search-page .search-container .app-searchbar {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.search-page .tools-search-hits {
  margin: 20px 0;
}
.search-prompts-page .prompts-search-hits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px 20px;
  margin: 20px 0;
}

.search-page .app-pagination {
  margin-top: 20px;
}

.search-page .no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  flex-direction: column;
}
.search-page .no-results img {
  width: 200px;
  margin-bottom: 30px;
}
.search-page .no-results h5 {
  font-size: 20px;
  color: var(--ternary);
  font-weight: 600;
}

.search-page .search-stats {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-top: 20px;
}
.search-page .search-stats h4 {
  font-size: 24px;
  color: var(--ternary);
}
.search-page .search-stats h4 span {
  color: var(--primary);
}
.search-page .search-stats h5 {
  color: var(--grayText);
  font-size: 17px;
  font-weight: 600;
}
.search-page .search-stats h5 span.category {
  color: var(--primary);
}