.ai-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.ai-loader .animation-bubbles .bubble {
  position: absolute;
  top: -15px;
  left: -10px;
  border-radius: 100%;
  background: #fff;
  opacity: 0;
}
.ai-loader .animation-bubbles.colored .bubble {
  background: var(--primary);
}
.ai-loader .animation-bubbles .bubble-1 {
  width: 16px;
  height: 16px;
  animation: bubble1 1.5s infinite;
}
.ai-loader .animation-bubbles .bubble-2 {
  width: 11px;
  height: 11px;
  animation: bubble2 1.5s infinite;
  animation-delay: 1s;
}
.ai-loader .animation-bubbles .bubble-3 {
  width: 5px;
  height: 5px;
  animation: bubble3 2s infinite;
  animation-delay: 0.5s;
}
@keyframes bubble1 {
  0% {
    transform: translate(3px, 0);
    opacity: 0;
  }
  90% {
    transform: translate(5px, -30px) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(5px, -30px) scale(0.5);
  }
}
@keyframes bubble2 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  90% {
    transform: translate(-4px, -45px) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-4px, -45px) scale(0.2);
  }
}
@keyframes bubble3 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  90% {
    transform: translate(5px, -55px) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(5px, -55px) scale(0.15);
  }
}