.app-loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--primary);
  z-index: 99990;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.app-loading-page .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.app-loading-page img {
  height: 120px;
}

.app-loading-page .animation-bubbles .bubble {
  position: absolute;
  top: -15px;
  left: -10px;
  border-radius: 100%;
  background: #fff;
  opacity: 0;
}
.app-loading-page .animation-bubbles .bubble-1 {
  width: 18px;
  height: 18px;
  animation: bubble1 1.5s infinite;
}
.app-loading-page .animation-bubbles .bubble-2 {
  width: 13px;
  height: 13px;
  animation: bubble2 1.5s infinite;
  animation-delay: 1s;
}
.app-loading-page .animation-bubbles .bubble-3 {
  width: 7px;
  height: 7px;
  animation: bubble3 2s infinite;
  animation-delay: 0.5s;
}
@keyframes bubble1 {
  0% {
    transform: translate(3px, 0);
    opacity: 0;
  }
  90% {
    transform: translate(5px, -30px) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(5px, -30px) scale(0.5);
  }
}
@keyframes bubble2 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  90% {
    transform: translate(-4px, -45px) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-4px, -45px) scale(0.2);
  }
}
@keyframes bubble3 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  90% {
    transform: translate(5px, -55px) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(5px, -55px) scale(0.15);
  }
}


.app-loading-page .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.app-loading-page .bottom h5 {
  font-size: 21px;
  color: #fff;
}
.app-loading-page .bottom small {
  font-size: 14px;
  color: #eee;
  font-weight: 600;
  opacity: 0.8;
}