.ai-searchbar {
  display: flex;
  align-items: center;
  width: 100%;
}
.ai-searchbar input {
  width: 100%;
  border-radius: 40px;
  padding: 17px 15px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 120px;
}
.ai-searchbar i.fa-times {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 112px;
  font-size: 20px;
  color: var(--grayText);
  opacity: 0.5;
  z-index: 10;
  cursor: pointer;
}
.ai-searchbar .appButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  padding: 10px 15px;
  font-size: 15px;
  z-index: 10;
}