.scroll-slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.scroll-slider-container .scroll-flex {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  padding-right: 40px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-destination: 0% 100%;
  scroll-snap-stop: always;
}
.scroll-slider-container .scroll-flex > * {
  scroll-snap-align: start;
}
.scroll-slider-container.hide-scrollbar .scroll-flex::-webkit-scrollbar {
  display: none;
}
.scroll-slider-container .fader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    var(--bg) 50%,
    var(--bg) 100%
  );
}