.app-file-uploader {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.app-file-uploader .upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background: #fff;
  border: 1px solid var(--inputBorder);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.app-file-uploader .upload-container:hover {
  background: var(--extraLightPrimary);
}
.app-file-uploader .upload-container input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}
.app-file-uploader .upload-container.dragging {
  background: var(--extraLightPrimary);
  border: 1px dashed var(--primary);
}
.app-file-uploader .upload-container > i {
  font-size: 14px;
  color: var(--darkGrayText);
}
.app-file-uploader .upload-container > h5 {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}

.app-file-uploader .uploaded-files-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--inputBorder);
}
.app-file-uploader .uploaded-files-container .file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s;
}
.app-file-uploader .uploaded-files-container .file-item:hover {
  background: var(--inputBg);
  cursor: default;
}
.app-file-uploader .uploaded-files-container .file-item .text {
  display: flex;
  align-items: center;
  gap: 15px;
}
.app-file-uploader .uploaded-files-container .file-item img {
  height: 50px;
  border-radius: 5px;
}
.app-file-uploader .uploaded-files-container .file-item .text h6 {
  font-size: 13px;
  font-weight: 600;
  color: var(--darkGrayText);
  display: flex;
  flex-direction: column;
}
.app-file-uploader .uploaded-files-container .file-item .text h6 small {
  font-weight: 500;
  font-size: 11px;
}
.app-file-uploader .uploaded-files-container .file-item .remove-icon {
  font-size: 19px;
  color: var(--darkGrayText);
  cursor: pointer;
  padding: 3px;
  transition: all 0.2s;
}