.item-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  min-height: 500px;
}
.item-not-found img {
  width: 200px;
}
.item-not-found h5 {
  margin-top: 20px;
  color: var(--darkGrayText);
  text-transform: capitalize;
  font-size: 21px;
}
.item-not-found p {
  margin-top: 10px;
  font-size: 16px;
  color: var(--grayText);
}
.item-not-found .appButton {
  margin-top: 20px;
  font-size: 15px;
  padding: 12px 20px;
}