.skeleton-loader {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
.skeleton-loader .intro {
  height: 120px;
  width: 100%;
  background: #fff;
}
.skeleton-loader .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100px;
  padding: 0 20px 20px 20px;
}
.skeleton-loader .rect {
  border-radius: 10px;
  background: #f1f1f1;
  animation: fade 2s infinite;
}
.skeleton-loader .rect1 {
  width: 30%;
  height: 25px;
  animation-delay: 0s;
}
.skeleton-loader .rect2 {
  width: 85%;
  height: 30px;
  animation-delay: 0.4s;
}
.skeleton-loader .rect3 {
  width: 60%;
  height: 15px;
  animation-delay: 0.8s;
}
.skeleton-loader.small .info {
  padding: 10px 20px;
  height: 70px;
  flex-direction: row;
  align-items: center;
}
.skeleton-loader.small .rect1 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.skeleton-loader.small .rect2 {
  animation-delay: 0.5s;
}
.skeleton-loader.small .intro,
.skeleton-loader.small .rect3 {
  display: none;
}

@keyframes fade {
  0% {background: #f1f1f1}
  50% {background: #e1e1e1}
  100% {background: #f1f1f1}
}