.users-search-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.users-search-input .selected-user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
}
.users-search-input .selected-user:hover {
  background-color: var(--inputBg);
}
.users-search-input .selected-user h6 {
  font-size: 12px;
  font-weight: 600;
  color: var(--darkGrayText);
  cursor: pointer;
  user-select: none;
}
.users-search-input .selected-user .clear-text {
  font-size: 11px;
  color: var(--grayText);
  align-self: center;
  justify-self: center;
  margin-left: auto;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.users-search-input .selected-user:hover .clear-text,
.users-search-input .selected-user:hover .icon-container {
  opacity: 1;
  visibility: visible;
}
.users-search-input .selected-user .clear-text:hover {
  text-decoration: underline;
}
.users-search-input .selected-user .icon-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.users-search-input .users-results-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 5px);
  background: #fff;
  width: 100%;
  box-shadow: var(--shadow);
  border: 1px solid #f1f1f1;
  z-index: 1000;
}
.users-search-input .users-results-list .dropdown-title {
  padding: 8px;
  font-size: 11px;
  color: var(--grayText);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  gap: 8px;
}
.users-search-input .users-results-list.hide {
  display: none;
}
.users-search-input .users-results-list .user-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s;
  background: #fff;
}
.users-search-input .users-results-list .user-row .left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.users-search-input .users-results-list .user-row .right small {
  font-size: 12px;
  color: var(--grayText);
}
.users-search-input .users-results-list .user-row:hover {
  background-color: var(--lightInputBg);
}
.users-search-input .users-results-list .user-row h6 {
  font-size: 12px;
  font-weight: 600;
  color: var(--darkGrayText);
  user-select: none;
}

.users-search-input .users-results-list .no-more-users {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  color: var(--darkGrayText);
}

.users-search-input .appInput .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: var(--inputBg);
  border: 1px solid var(--inputBorder);
}
.users-search-input .appInput .icon i {
  color: var(--grayText);
  font-size: 16px;
}
.users-search-input .appInput input {
  padding-left: 40px;
}