.navbar {
  width: 100%;
  height: var(--navbarHeight);
  background: var(--primary);
  z-index: 9100;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: space-between;
  transition: all 0.2s;
}
.navbar.hide {
  display: none;
}

.navbar .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 100;
}
.navbar .topbar .left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar .logo img {
  width: 20px;
  top: -2px;
}
.navbar .logo h4 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.navbar .logo h4 span {
  font-weight: 300;
}
.navbar .logo h5 {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar .nav-search-bar {
  width: 250px;
}
.navbar .topbar .appInput input {
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 40px;
  padding: 10px 15px;
  padding-right: 33px;
  font-size: 14px;
  background: none;
  color: #fff;
}
.navbar .topbar .appInput i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255,255,255,0.5);
  font-size: 16px;
}
.navbar .topbar .appInput i.fa-times {
  font-size: 17px;
  cursor: pointer;
  transition: all 0.2s;
}
.navbar .topbar .appInput i.fa-times:hover {
  color: #fff;
}
.navbar .topbar .appInput i.fa-spinner {
  top: 3px
}
.navbar .topbar .appInput input::placeholder {
  color: rgba(255,255,255,0.6);
}

.navbar .topbar .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .topbar .right .menu {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
.navbar .topbar .right .menu a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s;
  padding: 15px 10px;
  border-radius: 5px;
}
.navbar .topbar .right .menu a:hover,
.navbar .topbar .right .menu a.active {
  background: rgba(255,255,255,0.2);
}
.navbar .topbar .dropdown-button .dropdown-item {
  font-size: 13px;
  color: var(--grayText);
}
.navbar .topbar .create-new-btn {
  font-size: 12px;
  border-radius: 40px;
  padding: 9px 15px;
}
.navbar .topbar .right .icon-container:hover {
  background: rgba(255,255,255,0.1);
}


.navbar .shapes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.navbar .shape {
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 20px;
}
.navbar .shape1 {
  width: 200px;
  height: 160px;
  top: 0;
  left: 100px;
  background: rgba(255,255,255,0.05);
  transform: rotate(30deg);
}
.navbar .shape2 {
  width: 120px;
  height: 120px;
  top: -50px;
  right: 100px;
  background: rgba(255,255,255,0.08);
  transform: rotate(-120deg);
}
.navbar .shape3 {
  width: 200px;
  height: 200px;
  top: 70px;
  right: 300px;
  background: rgba(255,255,255,0.06);
  transform: rotate(60deg);
}
.navbar .shape4 {
  width: 130px;
  height: 130px;
  top: -80px;
  left: 400px;
  background: rgba(255,255,255,0.07);
  transform: rotate(200deg);
}

.navbar .nav-btn {
  font-size: 13px;
  color: #fff;
  padding: 8px 10px;
}

.navbar .mobile-btn {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255,255,255,0.5);
  cursor: pointer;
  transition: all 0.2s;
}
.navbar .mobile-btn:hover {
  background: rgba(255,255,255,0.2);
}
.navbar .mobile-btn i {
  font-size: 20px;
  color: #fff;
}

.nav-search-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: var(--shadow);
  max-height: 500px;
  overflow-y: auto;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.nav-search-dropdown.show {
  visibility: visible;
  opacity: 1;
}
.nav-search-dropdown::-webkit-scrollbar {
  width: 4px;
}
.nav-search-dropdown::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 5px;
}
.nav-search-dropdown::-webkit-scrollbar-thumb {
  background: var(--tableBorder);
  border-radius: 5px;
}
.nav-search-dropdown > h4 {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-search-dropdown > h4 i {
  font-size: 20px;
  color: var(--darkGrayText);
  cursor: pointer;
}
.nav-search-dropdown .nav-search-dropdown-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
}
.nav-search-dropdown .nav-search-dropdown-section > h5 {
  font-size: 12px;
  font-weight: 600;
  color: #444;
  padding: 5px 10px;
  padding-top: 7px;
  margin-bottom: 7px;
}
.nav-search-dropdown .nav-search-dropdown-item {
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.nav-search-dropdown .nav-search-dropdown-item .side {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-search-dropdown .nav-search-dropdown-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 10px;
  border-radius: 5px;
}
.nav-search-dropdown .nav-search-dropdown-item a:hover {
  background: var(--extraLightPrimary);
}
.nav-search-dropdown .nav-search-dropdown-item .side > h6 {
  font-size: 13px;
  font-weight: 600;
  color: var(--darkGrayText);
}

.nav-search-dropdown > p {
  padding: 10px;
  color: var(--grayText);
  font-size: 13px;
}

.navbar .profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  padding: 2px 5px;
  border-radius: 40px;
  user-select: none;
}
.navbar .profile-container:hover {
  background: rgba(255,255,255,0.15);
}
.navbar .profile-container .clickable-profile {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.navbar .profile-container .clickable-profile i {
  color: #fff
}
.navbar .menu-dropdown {
  width: 700px;
  background: #fff;
  border-radius: 5px;
  box-shadow: var(--shadow);
  z-index: 100;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  padding: 20px;
  transition: all 0.2s;
}
.navbar .menu-dropdown.show {
  visibility: visible;
  opacity: 1;
  top: 40px;
}
.navbar .menu-dropdown .top {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  width: 100%;
}
.navbar .menu-dropdown .column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navbar .menu-dropdown .column > h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--ternary);
  margin-bottom: 20px;
}
.navbar .menu-dropdown a,
.navbar .menu-dropdown h6 {
  border-radius: 5px;
  padding: 10px 7px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--grayText);
  font-weight: 600;
  transition: all 0.2s;
}
.navbar .menu-dropdown a i,
.navbar .menu-dropdown h6 i {
  color: var(--grayText);
}
.navbar .menu-dropdown a:hover,
.navbar .menu-dropdown h6:hover {
  background: var(--extraLightPrimary);
  color: var(--primary);
}
.navbar .menu-dropdown a:hover i,
.navbar .menu-dropdown h6:hover i {
  color: var(--primary);
}
.navbar .menu-dropdown hr {
  width: 90%;
  height: 1px;
  align-self: center;
  margin: 3px 0;
  background: #eee;
}
.navbar .menu-dropdown .bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.navbar .menu-dropdown .bottom .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .menu-dropdown .bottom h5 {
  color: var(--darkGrayText);
}
.navbar .menu-dropdown .bottom h5 span {
  color: var(--grayText);
  text-transform: capitalize;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.navbar .menu-dropdown .bottom h5 span:hover {
  background: var(--extraLightPrimary);
  color: var(--primary);
}
.navbar .menu-dropdown .bottom h5 span i {
  margin-right: 7px;
}


.navbar .add-new-dropdown {
  position: absolute;
  min-width: 200px;
  top: calc(100% + 20px);
  right: 0;
  padding: 5px;
  border-radius: 10px;
  background: #fff;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}
.navbar .add-new-dropdown.show {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 10px);
}
.navbar .add-new-dropdown a {
  border-radius: 5px;
  padding: 10px 7px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--grayText);
  font-weight: 600;
  transition: all 0.2s;
}
.navbar .add-new-dropdown a:hover {
  background: var(--extraLightPrimary);
  color: var(--primary);
}



@media (max-width: 1080px) {
  .navbar .topbar .right .menu {
    display: none;
  }
  .navbar .mobile-btn {
    display: flex;
  }
  .navbar .topbar .left {
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .navbar .nav-search-bar {
    display: none;
  }
}

@media (max-width: 400px) {
  .navbar .icon-container {
    display: none;
  }
}