.submissions-page {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: var(--cardShadow);
  padding-bottom: 40px;
}
.submissions-page .app-tabs-bar {
  background: #fff;
  top: 49px;
}

.submissions-page .submissions-content {
  margin-top: 10px;
}