.tool-submission {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.tool-submission .tool-submission-card {
  padding: 20px;
  background: #fff;
  border-radius: 7px;
  box-shadow: var(--cardShadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 40px;
}
.tool-submission .tool-submission-card .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--inputBorder);
}
.tool-submission .tool-submission-card .toolbar h4 {
  font-size: 22px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.tool-submission .tool-submission-card .toolbar .actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tool-submission .grid-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}
.tool-submission .grid-content .grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.tool-submission .grid-content .grid-item h6 {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 13px;
}
.tool-submission .grid-content .grid-item h5 {
  font-size: 14px;
  color: var(--darkGrayText);
  font-weight: 600;
  line-height: 1.5;
}
.tool-submission .grid-content .grid-item.logo img {
  width: 45px;
}
.tool-submission .grid-content .grid-item.images.cover {
  grid-column: 1;
}
.tool-submission .grid-content .grid-item.images img {
  border-radius: 5px;
  border: 1px solid var(--inputBorder);
  width: 180px;
  height: 150px;
  cursor: pointer;
  transition: all 0.2s;
}
.tool-submission .grid-content .grid-item.images img:hover {
  filter: brightness(0.9);
}
.tool-submission .grid-content .grid-item.images.cover img {
  width: 100%;
}
.tool-submission .scroll-slider-container .scroll-flex {
  padding: 0;
}
.tool-submission .scroll-slider-container .fader {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #fff 50%,
    #fff 100%
  );
}
.tool-submission .grid-content .grid-item h5 i {
  color: var(--darkGrayText);
  margin-right: 10px;
}
.tool-submission .grid-content .grid-item a {
  text-decoration: underline;
}
.tool-submission .grid-content .grid-item a:hover {
  color: var(--primary);
}
.tool-submission .grid-content .grid-item .avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.tool-submission .grid-content .grid-item .avatar-container a {
  white-space: nowrap;
  font-size: 14px;
  color: var(--darkGrayText);
  font-weight: 600;
  text-decoration: none;
}

.tool-submission .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}