.navbar.hide + .routes-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-page .logo-container {
  position: fixed;
  top: 25px;
  left: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 100;
}
.auth-page .logo-container img {
  width: 27px;
}
.auth-page .logo-container h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.auth-page .logo-container h5 span {
  font-weight: 400;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .login-info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
  backdrop-filter: blur(10px);
}
.login-container .auth-titles {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-container .auth-titles h4 {
  font-size: 20px;
  color: #333;
}

.login-container .login-info .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 40px;
  width: 500px;
}
.login-container .social-logins {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.login-container .social-logins .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(50% - 15px);
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: all 0.2s;
  cursor: pointer;
}
.login-container .social-logins .btn:hover {
  background: var(--primary);
}
.login-container .social-logins .btn span {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}
.login-container .social-logins .btn:hover span {
  color: #fff;
}
.login-container .social-logins .btn img {
  width: 20px;
}
.login-container .login-info .sep-alt {
  margin: 25px 0;
  color: var(--grayText);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.login-container .login-info .sep-alt span {
  white-space: nowrap;
}
.login-container .login-info .sep-alt hr {
  width: 100%;
  height: 1px;
  background: #ddd;
}
.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-container .auth-title {
  color: #333;
  font-size: 20px;
}
.login-container form label h6 {
  font-size: 13px;
  color: var(--grayText);
}
.login-container .login-info .email-error {
  color: var(--red);
  font-size: 13px;
  font-weight: 600;
}
.login-container .login-info .appInput {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-container .login-info .appInput h6 {
  font-size: 12px;
  color: var(--darkGrayText);
}
.login-container .login-info .password-input input {
  padding-right: 30px;
}
.login-container .login-info .password-input i {
  position: absolute;
  top: 33px;
  right: 10px;
  color: var(--grayText);
  cursor: pointer;
}
.login-container .login-info input {
  height: 40px;
  border: 1px solid var(--inputBorder);
  border-radius: 5px;
}
.login-container .login-info input:focus {
  border-color: var(--primary);
}
.login-container .login-info input[type="checkbox"] {
  border: none;
  height: 15px;
}
.login-container .login-info .login-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}
.login-container .login-info .login-options label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login-container .login-info .login-options label input {
  width: 30px;
}
.login-container .login-info .login-options label span {
  font-size: 14px;
  color: #555;
}
.login-container .login-info .login-options a {
  font-size: 14px;
  color: #555;
}
.login-container .login-info button.submit-btn {
  padding: 15px;
  font-size: 16px;
  box-shadow: var(--primaryShadow);
}
.login-container .login-info button.submit-btn i {
  transition: all 0.3s;
  left: 5px;
}
.login-container .login-info button.submit-btn:hover i {
  left: 15px;
}
.login-container .login-info h6.no-account-text {
  font-size: 13px;
  color: var(--darkGrayText);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.login-container .login-info .no-account-text a {
  color: var(--primary);
}
.login-container .login-info .no-account-text a:hover {
  text-decoration: underline;
}

.login-container .double-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.back-home-link {
  font-size: 13px;
  font-weight: 500;
  color: var(--grayText);
  margin-top: 20px;
}
.back-home-link:hover,
.back-home-link:hover a {
  color: #111;
  text-decoration: underline;
}
.back-home-link a {
  color: var(--grayText);
}
.back-home-link i {
  margin-right: 10px;
}

.login-container .auth-cover {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='700' height='800' preserveAspectRatio='none' viewBox='0 0 700 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='700' height='800' x='0' y='0' fill='rgba(134%2c 93%2c 255%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1015' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1015' x='0' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='700' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1012'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1013'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1010'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1009'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1011'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1014'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1015'%3e%3cuse xlink:href='%23SvgjsPath1009' x='30' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='30' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='30' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='30' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='30' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='30' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='30' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='90' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='90' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='90' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='90' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='90' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='150' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='150' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='150' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='150' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='150' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='150' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='210' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='210' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='210' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='210' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='210' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='210' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='210' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='270' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='270' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='270' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='270' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='270' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='270' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='270' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='270' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='270' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='270' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='270' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='270' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='330' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='330' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='330' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='330' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='390' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='390' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='390' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='390' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='390' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='390' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='390' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='390' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='390' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='390' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='390' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='390' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='450' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='450' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='450' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='450' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='450' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='450' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='450' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='510' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='510' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='510' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='510' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='510' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='510' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='570' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='570' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='570' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='570' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='570' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='570' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='630' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='30' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='90' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='690' y='150' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='210' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='690' y='270' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='690' y='330' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='390' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='450' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='510' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='690' y='570' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='630' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='690' y='690' stroke='rgba(255%2c 255%2c 255%2c 0.22)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.register-container .auth-cover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='800' preserveAspectRatio='none' viewBox='0 0 1000 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1000' height='800' x='0' y='0' fill='rgba(134%2c 93%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M144 209L622 -269' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M828 665L1189 304' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M959 339L1505 -207' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M867 391L1160 98' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M837 368L1294 -89' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M254 113L676 -309' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M740 639L143 1236' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M306 408L620 94' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M830 64L1312 -418' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M463 146L204 405' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M707 468L1010 165' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M12 278L418 -128' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M123 597L-311 1031' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M719 650L429 940' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M749 381L1067 63' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M250 112L513 -151' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M422 190L764 -152' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M40 675L-496 1211' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M381 691L-19 1091' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M49 697L-295 1041' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M19 119L-537 675' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M181 616L-298 1095' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M112 519L330 301' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M267 787L481 573' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M99 62L-170 331' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M880 39L1398 -479' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M72 256L299 29' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M382 421L934 -131' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M45 358L-295 698' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M242 322L542 22' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M283 415L739 -41' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M369 539L789 119' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M445 770L137 1078' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1000' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1022'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0.27)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1023'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0.27)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.login-container .login-cover img {
  width: 350px;
}
.login-container .login-cover h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.login-container .login-cover p {
  color: rgba(255,255,255,0.75);
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.8;
  text-align: center;
  width: 500px;
}



@media (max-width: 1080px) {
  .login-container {
    grid-template-columns: 100%;
  }
  .login-container .login-cover {
    display: none;
  }
  .login-container .login-info {
    width: 100%;
  }
  
}

@media (max-width: 550px) {
  .login-container {
    height: auto;
    width: 100%;
  }
  .login-container .login-info {
    padding: 10px;
  }
  .login-container .login-info .container {
    width: 100%;
    padding: 15px;
  }
  .login-container .double-row {
    grid-template-columns: auto;
    grid-gap: 20px 0px;
  }
  .login-container .login-info h6.no-account-text {
    margin-bottom: 60px;
    top: 60px;
  }
  .login-container .social-logins .btn {
    flex-basis: 100%;
    width: 100%;
  }
  .login-container .social-logins {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
