.ai-card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--cardShadow);
  background: #fff;
  border-radius: 8px;
  transition: all 0.2s;
  overflow: hidden;
}
.ai-card:hover {
  box-shadow: var(--cardShadowHover);
}

.ai-card .img-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-size: cover;
  border-bottom: 1px solid var(--inputBorder);
}
.ai-card .info-content {
  padding: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.ai-card .info-content .top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.ai-card .info-content .top-row small {
  font-size: 12px;
  font-weight: 600;
  padding: 2px 4px;
  border-radius: 3px;
  background: var(--extraLightPrimary);
  color: var(--primary);
}
.ai-card .info-content h5 {
  font-size: 19px;
  color: var(--ternary);
  margin-top: 7px;
}
.ai-card .info-content h5:hover {
  text-decoration: underline;
}
.ai-card .info-content p {
  font-size: 14px;
  color: var(--grayText);
  font-weight: 500;
  height: 40px;
  margin-top: 2px;
}
.ai-card .bottom-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}
.ai-card .bottom-bar small {
  display: flex;
  align-items: center;
  gap: 7px;
}
.ai-card .bottom-bar small a {
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
}
.ai-card .bottom-bar small a:hover {
  text-decoration: underline;
}
.ai-card .bottom-bar small i {
  font-size: 14px;
  color: var(--primary);
}
.ai-card .bottom-bar .right i {
  color: var(--primary);
  font-size: 18px;
  cursor: pointer;
}