.prompt-card {
  padding: 10px;
  border-radius: 40px;
  background: var(--grayBg);
  box-shadow: var(--cardShadow);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
}
.prompt-card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.prompt-card .fa-copy {
  display: none;
}
.prompt-card:hover .fa-copy {
  display: block;
}
.prompt-card:hover .fa-comment-dots {
  display: none;
}
.prompt-card .icon-content:hover {
  filter: brightness(1.1);
}
.prompt-card .icon-content {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primaryGradient);
  cursor: pointer;
}
.prompt-card .icon-content i {
  font-size: 25px;
  color: #fff;
}
.prompt-card .text-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  padding-left: 25px;
  border-radius: 40px;
  width: calc(100% - 50px);
  transition: all 0.2s;
}
.prompt-card .text-content h5 {
  font-size: 13px;
  color: var(--darkGrayText);
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 2px;
}
.prompt-card .text-content p {
  font-size: 14px;
  color: var(--grayText);
  font-weight: 600;
}