.prompt-card {
  padding: 10px;
  border-radius: 45px;
  background: var(--grayBg);
  box-shadow: var(--cardShadow);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}
.prompt-card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px 45px 45px 20px;
}
.prompt-card.preview {
  gap: 10px;
}
.prompt-card .left-side {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.prompt-card .main-icon-container .fa-copy {
  display: none;
}
.prompt-card .main-icon-container:hover .fa-copy {
  display: block;
}
.prompt-card .main-icon-container:hover .main-icon {
  display: none;
}
.prompt-card .main-icon-container:hover {
  filter: brightness(1.1);
}
.prompt-card .main-icon-container {
  width: 43px;
  height: 43px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primaryGradient);
  cursor: pointer;
  transition: all 0.3s;
}
.prompt-card .main-icon-container i {
  font-size: 19px;
  color: #fff;
}
.prompt-card .bookmark-icon {
  color: var(--primary);
  font-size: 17px;
  cursor: pointer;
}
.prompt-card .main-icon-container.preview i.fa-copy {
  display: none;
}
.prompt-card .main-icon-container.preview:hover .main-icon {
  display: block
}

.prompt-card .text-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  padding-left: 25px;
  border-radius: 50px;
  width: calc(100% - 50px);
  transition: all 0.2s;
}
.prompt-card .text-content h6 {
  font-size: 13px;
  color: var(--darkGrayText);
  color: var(--primary);
  margin-bottom: 2px;
}
.prompt-card .text-content p {
  font-size: 14px;
  color: var(--grayText);
  font-weight: 600;
}


@media (max-width: 500px) {
  .prompt-card {
    flex-direction: column;
    gap: 10px;
  }
  .prompt-card .left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  .prompt-card .main-icon-container {
    width: 50px;
    height: 50px;
  }
  .prompt-card .main-icon-container i {
    font-size: 21px;
  }
  .prompt-card .left-side .bookmark-icon {
    font-size: 22px;
  }
  .prompt-card .text-content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .prompt-card .text-content h6 {
    font-size: 14px;
  }
  .prompt-card .text-content {
    padding-left: 10px;
  }
}